include README.rst
include scifysim/data/gravity_piston_ps.csv
include scifysim/data/MK_trans_sfs.txt
include scifysim/data/n_mathar.dat
include scifysim/data/VLTI_AT_trans_sfs.txt
include scifysim/data/VLTI_UT_trans_sfs.txt
include scifysim/config/logger.ini
include scifysim/config/default_new_4T.ini
include scifysim/config/default_R2000.ini
include scifysim/config/default_R200.ini
include scifysim/config/default_R20.ini
include scifysim/config/vega.ini
include scifysim/config/vega_R200.ini
include scifysim/data/asymetric_coupling_rate_gls.csv
include scifysim/data/asymmetric_coupling_rate_gross.csv
include scifysim/data/asymmetric_diff_phase_gls.csv
include scifysim/data/directional_coupling_bar.csv
include scifysim/data/directional_coupling_cross.csv
include scifysim/data/znse_index.csv